@import "./styles.variables.scss";

.dx-button-with-loading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  text-transform: inherit;
  .display {
    line-height: 1.7rem;
  }
}

body {
  margin: 0;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

@for $i from 10 through 30 {
  .f-#{$i} {
    font-size: $i + #{px} !important;
  }
}

@for $i from 1 through 5 {
  .m-rem-#{$i} {
    margin: $i + #{rem} !important;
  }

  .mt-rem-#{$i} {
    margin-top: $i + #{rem} !important;
  }

  .mr-rem-#{$i} {
    margin-right: $i + #{rem} !important;
  }

  .mb-rem-#{$i} {
    margin-bottom: $i + #{rem} !important;
  }

  .ml-rem-#{$i} {
    margin-left: $i + #{rem} !important;
  }

  .p-rem-#{$i} {
    padding: $i + #{rem} !important;
  }

  .pt-rem-#{$i} {
    padding-top: $i + #{rem} !important;
  }

  .pr-rem-#{$i} {
    padding-right: $i + #{rem} !important;
  }

  .pb-rem-#{$i} {
    padding-bottom: $i + #{rem} !important;
  }

  .pl-rem-#{$i} {
    padding-left: $i + #{rem} !important;
  }
}

.text-muted,
.text-muted .dx-icon {
  color: gray;
}

.text-right {
  text-align: right;
}

.text-highlight,
.text-highlight .dx-icon {
  color: #bf4e6a;
}

.border-bottom-gray {
  border-bottom: dashed 1px gray;
}

.border-right-gray {
  border-right: dashed 1px gray;
}

.border-left-gray {
  border-left: dashed 1px gray;
}

.hidden {
  display: none !important;
}

.disabled,
[disabled] {
  pointer-events: none;
}

.d-flex {
  display: flex !important;
  align-items: center;
}

.d-flex-center {
  display: flex !important;
  align-items: center;
  align-self: center;
}

.d-flex-end {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.dx-field-item-label-text {
  font-weight: 500;
}

.dx-field-item-optional-mark,
.dx-field-item-required-mark {
  color: red;
}

.app-not-found {
  height: calc(100vh - #{$header_toolbar_height} - #{$footer_height} - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dx-command-edit.dx-command-edit-with-icons {
  padding: 0 !important;
}

.dx-popup-title.dx-toolbar .dx-toolbar-items-container {
  height: 3rem;
}

.dx-popup-content {
  padding-top: 0;
  .dx-datagrid {
    background: transparent;
  }
}

.dx-dropdowneditor-overlay {
  .dx-popup-content {
    padding: 0;
  }
}

.dx-popup-bottom.dx-toolbar.dx-dialog-buttons {
  padding: 0 1rem 1rem;
  .dx-toolbar-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.dx-datagrid {
  .dx-datagrid-header-panel {
    padding: 0;
    .dx-toolbar {
      background: transparent;
      .dx-toolbar-after {
        .dx-item {
          padding-left: 1rem;
        }
      }
      .dx-button-content {
        padding: 6px;
        .dx-button-text {
          line-height: 13px;
          text-transform: inherit;
        }
      }
      .dx-tagbox {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }
  .dx-master-detail-cell {
    padding: 1rem !important;
  }
}

.dx-color-scheme-orange-light {
  background: gainsboro !important;
  .bg-input {
    background-color: #cccccc;
  }
  .dx-datagrid {
    .dx-datagrid-header-panel {
      background: gainsboro;
    }
  }

  .dx-form {
    .dx-texteditor.dx-editor-filled .dx-texteditor-input {
      background: rgba(0, 0, 0, 0.03);
    }

    .dx-texteditor.dx-editor-filled .dx-texteditor-buttons-container {
      background: rgba(0, 0, 0, 0.03);
    }
  }

  .dx-popup-wrapper > .dx-overlay-content {
    background: gainsboro;
  }

  .dx-calendar,
  .dx-selectbox-popup-wrapper .dx-list {
    background: inherit;
  }
}

.dx-color-scheme-orange-dark {
  .bg-input {
    background-color: #3e3e48;
  }
}

.dx-tabpanel-container {
  .dx-item-content.dx-multiview-item-content {
    padding: 1rem 0 0 0;
  }
}
