<button [routerLink]="['/sinhvien']" routerLinkActive="router-link-active">Quay Lại</button>
<div>
  <h2>Thêm mới thông tin</h2>
  <form [formGroup]="form123" (ngSubmit)="add()">
    <label for="hoTen">Họ tên : <input id="hoTen" type="text" formControlName="hoTen"> </label>
  <br>
  <label ng-model="value" for="ngaysinh">Ngày sinh : <input id="ngaysinh" type="date" formControlName="ngaysinh"></label>
  <br>
  <label for="gioiTinh">Giới tính : </label><input id="gioiTinh" type="number" formControlName="gioiTinh">
  <br>
  <label for="soThich">Sở thích :<input id="soThich" type="text" formControlName="soThich"></label>
  <br>
  <label for="hocLuc">Học lực : <input id="hocLuc" type="text" formControlName="hocLuc"></label>
  <br>
  <label for="sdt">Số điện thoại: <input id="sdt" type="number" formControlName="sdt"></label>
  <br>
  <button type="submit">Thêm mới</button>
  </form>
</div>

