<div [@fadeInOut]>
    <dx-data-grid #dataSourceGrid class="content-block" (onSelectionChanged)="selectionChanged($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [showColumnLines]="true" [cacheEnabled]="false" [dataSource]="dataSource" [remoteOperations]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [columnAutoWidth]="true" [columnHidingEnabled]="false">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-master-detail [enabled]="true" template="detail" cssClass="p-0"></dxo-master-detail>

        <dxi-column dataField="name" caption="Role Name" [width]="252" cellTemplate="roleNameTemplate" [fixed]="true"></dxi-column>
        <dxi-column dataField="permissions" cellTemplate="permissionsTemplate" [width]="150" [allowFiltering]="false" alignment="center"></dxi-column>
        <dxi-column dataField="usersCount" [width]="150" [allowFiltering]="false" alignment="center"></dxi-column>
        <dxi-column dataField="description" [allowFiltering]="false" [allowSorting]="false"></dxi-column>

        <dxi-column dataField="id" [width]="80" type="buttons" caption="" [allowSorting]="false" cellTemplate="taskCellTemplate"> </dxi-column>

        <div *dxTemplate="let cell of 'detail'">
            <ng-template ngFor let-group let-first="first" let-last="last" [ngForOf]="cell.data.permissions | groupBy: 'groupName'" let-i="index">
                <span style="width: 33%;float: left;text-align: left;display: block;"><span class="f-13 text-muted">{{group.key}} : </span><b class="f-13">{{group.value | groupBy: 'name' | mapKey : 'key' | join : '  |  '}}</b></span>
            </ng-template>
        </div>

        <div *dxTemplate="let cell of 'roleNameTemplate'">
            <b class="text-highlight">{{cell.value}}</b>
        </div>

        <div *dxTemplate="let cell of 'permissionsTemplate'">
            {{cell.value.length}}
        </div>

        <div *dxTemplate="let d of 'taskCellTemplate'" class="dx-command-edit dx-command-edit-with-icons" style="display: flex; justify-content: space-around;min-width: 0;width: auto;">
            <a class="dx-link dx-link-edit dx-icon-edit dx-link-icon" title="Edit" aria-label="Edit" (click)="onRowEdit(d)"></a>
            <a class="dx-link dx-link-delete dx-icon-trash dx-link-icon" title="Delete" aria-label="Delete" (click)="onRowDelete(d.key)"></a>
        </div>
    </dx-data-grid>
</div>

<dx-popup (onHidden)="onHidePopup()" [maxWidth]="640" [height]="'auto'" title="Role Info" [showTitle]="true" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
    <form novalidate (submit)="onSave($event)">
        <dx-form #taskForm [formData]="obj" [disabled]="isLoading" [showColonAfterLabel]="false" labelLocation="top">

            <dxi-item dataField="name" [editorOptions]="{stylingMode: 'filled', id: taskForm.formData.id, table: 'roles'}">
                <dxi-validation-rule type="required"> </dxi-validation-rule>
                <dxi-validation-rule type="async" message="Already exist!" [validationCallback]="ayncValidate"> </dxi-validation-rule>
            </dxi-item>

            <dxi-item dataField="description" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', height: 90}"></dxi-item>
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item>
                    <label class="dx-field-item-label dx-field-item-label-location-top"><span class="dx-field-item-label-content"><span class="dx-field-item-label-text">Permissions</span></span></label>
                </dxi-item>
                <dxi-item alignment="right">
                    <div *dxTemplate class="d-flex" style="justify-content: flex-end;">
                        <dx-button hint="List mode" id="list-mode" icon="bulletlist" [ngClass]="{'text-highlight': permissionMode == 1}" style="zoom: 0.75; position: relative; margin-bottom: -1rem;" (onClick)="permissionMode = 1"></dx-button>
                        <dx-button hint="Swipe mode" id="swipe-mode" icon="decreaseindent" [ngClass]="{'text-highlight': permissionMode == 2}" class="text-highlight" style="zoom: 0.8; position: relative; margin-left: 1rem; margin-bottom: -1rem;" (onClick)="permissionMode = 2"></dx-button>
                    </div>
                </dxi-item>
            </dxi-item>

            <dxi-item [cssClass]="permissionMode == 2 ? 'hidden' : ''" [template]="'permissionListTemplate'"></dxi-item>
            <dxi-item [cssClass]="permissionMode == 1 ? 'hidden' : ''" [template]="'permissionSwipeTemplate'"></dxi-item>

            <dxi-item itemType="button" cssClass="last-group pb-0 pt-rem-1">
                <dxo-button-options type="default" [useSubmitBehavior]="true" [template]="'taskFormTemplate'" [elementAttr]="{ class: 'submit-button' }"></dxo-button-options>
            </dxi-item>

            <ng-container *dxTemplate="let item of 'taskFormTemplate'">
                <span class="dx-button-text dx-button-with-loading">
                    <ng-container *ngIf="isLoading; else notLoading">
                        <dx-load-indicator width="24px" height="24px"></dx-load-indicator>
                        <div class="display">Loading... </div>
                    </ng-container>
                    <ng-template #notLoading>Save</ng-template>
                </span>
            </ng-container>

            <div *dxTemplate="let p of 'permissionListTemplate'" class="bg-input">
                <dx-scroll-view style="height: calc(100vh - 500px)" showScrollbar="always">
                    <dxi-item *ngFor="let permissionGroup of allPermissions | groupBy: 'groupName'; let last = last; let first = first" itemType="group" [colCount]="6" class="d-flex bg-input permission-group ml-rem-1 mr-rem-1 pt-rem-1 pb-rem-1 {{last ? '' : 'border-bottom-gray'}}">
                        <dxi-item class="d-flex-end" style="min-width: 180px;">
                            <b style="margin-right: 1rem;font-size: 15px; font-weight: 500;"> {{permissionGroup.key}} </b>
                        </dxi-item>
                        <dxi-item itemType="group" class="border-left-gray pl-rem-1">
                            <dxi-item *ngFor="let c of permissionGroup.value; let slast = last">
                                <div [ngClass]="{'mb-rem-1' : !slast}" [attr.id]="'permission-' + c.value">
                                    <dx-check-box [value]="selectedValues[c.value]" [text]="c.name" (onValueChanged)="selectedValues[c.value] = $event.value"></dx-check-box>
                                    <span class="f-11 d-block text-muted" style="padding-left:2rem">{{c.description}}</span>
                                </div>
                            </dxi-item>
                        </dxi-item>
                    </dxi-item>
                </dx-scroll-view>
            </div>

            <div *dxTemplate="let p of 'permissionSwipeTemplate'" class="bg-input">
                <div [innerHTML]="getViewIndex(multiView.tabIndex)" class="p-rem-1"> </div>
                <dx-multi-view #multiView [dataSource]="allPermissions | groupBy: 'groupName'" [selectedIndex]="0" [loop]="true" [animationEnabled]="true">
                    <div *dxTemplate="let permissionGroup of 'item'" class="p-rem-1 d-flex permission-group">
                        <b class="pr-rem-1 d-flex">{{permissionGroup.key}}</b>
                        <div class="border-left-gray pl-rem-1">
                            <ng-template ngFor let-c let-last="last" [ngForOf]="permissionGroup.value">
                                <div [ngClass]="{'mb-rem-1' : !last}">
                                    <dx-check-box [value]="selectedValues[c.value]" [text]="c.name" (onValueChanged)="selectedValues[c.value] = $event.value"></dx-check-box>
                                    <span class="f-11 d-block text-muted" style="padding-left:2rem">{{c.description}}</span>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </dx-multi-view>
            </div>
        </dx-form>
    </form>
</dx-popup>