::ng-deep .dx-field-item:not(.dx-field-item-has-group):not(.dx-field-item-has-tabs):not(.dx-first-row):not(.dx-label-v-align) {
    padding-top: 0;
}

::ng-deep .permission-group {
    .dx-field-item-label {
        display: none;
    }

    .dx-checkbox-icon{
        bottom: -0.5rem;
        margin-right: 0.5rem;
    }
}

::ng-deep .dx-box-item-content{
    align-self: center;
}