<div [@fadeInOut]>
    <dx-data-grid #dataSourceGrid class="content-block" (onSelectionChanged)="onSelectionChanged($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [showColumnLines]="true" [cacheEnabled]="false" [dataSource]="dataSource" [remoteOperations]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [columnAutoWidth]="true" [columnHidingEnabled]="false">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <!-- <dxo-selection *ngIf="isGrant('users.manage')" mode="multiple" showCheckBoxesMode="always"></dxo-selection> -->

        <dxi-column dataField="id" caption="Class Id" [width]="150" alignment="center" [fixed]="true" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="name" caption="Class Name" cellTemplate="classNameTemplate" [fixed]="true"></dxi-column>
        <dxi-column dataField="course" cellTemplate="courseNameTemplate" [allowFiltering]="false"></dxi-column>
        <dxi-column dataField="status" alignment="center" cellTemplate="statusTemplate" [allowFiltering]="false" [allowHeaderFiltering]="true">
            <dxo-header-filter [dataSource]="classStatusFilter"></dxo-header-filter>
        </dxi-column>
        <dxi-column caption="Schedule" alignment="center">
            <dxi-column dataField="scheduleDate" [width]="180" alignment="center" dataType="date" format="MM/dd/yyyy" [allowHeaderFiltering]="false"></dxi-column>
            <dxi-column dataField="startTime" [width]="140" alignment="center" cellTemplate="timeSpanTemplate" [allowFiltering]="false"></dxi-column>
            <dxi-column dataField="endTime" [width]="140" alignment="center" cellTemplate="timeSpanTemplate" [allowFiltering]="false"></dxi-column>
        </dxi-column>
        <dxi-column dataField="fee" [width]="120" dataType="number" cellTemplate="feeTemplate" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="lecturers" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="venue" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column *ngIf="isGrant('users.manage')" [width]="80" type="buttons" caption="" [allowSorting]="false" cellTemplate="taskCellTemplate"> </dxi-column>

        <div *dxTemplate="let cell of 'classNameTemplate'">
            <div><b style="color: #bf4e6a;">{{cell.value}}</b></div>
        </div>

        <div *dxTemplate="let cell of 'courseNameTemplate'">
            <div><b>{{cell.value?.name}}</b></div>
        </div>

        <div *dxTemplate="let cell of 'feeTemplate'">
            <div><b>{{cell.value | currency : '' }}</b></div>
        </div>

        <div *dxTemplate="let cell of 'statusTemplate'">
            <div [ngSwitch]="cell.value">
                <b *ngSwitchCase="1" style="color: cornflowerblue;">Opening</b>
                <b *ngSwitchCase="2" style="color: green;">In Progress</b>
                <b *ngSwitchCase="3" style="color: orange;">Pending</b>
                <b *ngSwitchCase="4" style="color: gray;">Ended</b>
                <b *ngSwitchDefault style="color: red;">Draft</b>
            </div>
        </div>

        <div *dxTemplate="let d of 'taskCellTemplate'" class="dx-command-edit dx-command-edit-with-icons" style="display: flex; justify-content: space-around;min-width: 0;width: auto;">
            <a class="dx-link dx-link-edit dx-icon-edit dx-link-icon" title="Edit" aria-label="Edit" (click)="onRowEdit(d)"></a>
            <a class="dx-link dx-link-delete dx-icon-trash dx-link-icon" title="Delete" aria-label="Delete" (click)="onRowDelete(d)"></a>
        </div>

        <dx-button *dxTemplate="let data of 'deleteButton'" [class.hidden]="!selectedRows.length" stylingMode="contained" type="default" text="Delete Selected Records"> </dx-button>
        <div *dxTemplate="let cell of 'timeSpanTemplate'">{{cell.value.hours < 12 ? '0' : '' }}{{cell.value.hours}}:{{cell.value.minutes}} {{cell.value.hours < 12 ? 'AM' : 'PM' }} </div>
    </dx-data-grid>
</div>

<dx-popup (onHiding)="onHidePopup()" [maxWidth]="1024" [height]="'auto'" title="Class Info" [showTitle]="true" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
    <dx-scroll-view style="max-height: calc(100vh - 120px);">
        <form novalidate (submit)="onSave($event)">
            <dx-form #taskForm [formData]="obj" [disabled]="isLoading" [showColonAfterLabel]="false" labelLocation="top">
                <dxi-item itemType="group" cssClass="first-group" [colCount]="6">
                    <dxi-item [colSpan]="3" dataField="name" [editorOptions]="{stylingMode: 'filled', showClearButton: true }">
                        <dxo-label text="Class Name"></dxo-label>
                        <dxi-validation-rule type="required"> </dxi-validation-rule>
                    </dxi-item>
                    <dxi-item [colSpan]="3" dataField="lecturers" [editorOptions]="{ stylingMode: 'filled', placeholder: 'eg. 行政人员'}">
                        <dxi-validation-rule type="required"> </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="courseId" [colSpan]="2" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', searchMode: 'contains',searchExprOption: 'name', showClearButton: true, valueExpr: 'id', displayExpr: 'name', items: courses}">
                        <dxo-label text="Coure"></dxo-label>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>

                    <dxi-item itemType="group" [colSpan]="4" [colCount]="3">
                        <dxi-item dataField="scheduleDate" editorType="dxDateBox" [editorOptions]="{ stylingMode: 'filled', inputAttr: { class: 'text-center', readonly: true }, type: 'date', placeholder: 'm/d/yyyy'}">
                            <dxi-validation-rule type="required"> </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="startTime" editorType="dxDateBox" [editorOptions]="{ stylingMode: 'filled', inputAttr: { class: 'text-center', readonly: 'readonly' }, type: 'time', placeholder: 'hh:mm A'}">
                            <dxi-validation-rule type="required"> </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="endTime" editorType="dxDateBox" [editorOptions]="{ stylingMode: 'filled', inputAttr: { class: 'text-center', readonly: 'readonly' }, type: 'time', placeholder: 'hh:mm A'}">
                            <dxi-validation-rule type="required"> </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>

                    <dxi-item dataField="venue" [colSpan]="2" [editorOptions]="{ stylingMode: 'filled', placeholder: 'eg. 行政人员'}">
                        <dxi-validation-rule type="required"> </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="fee" [colSpan]="1" editorType="dxNumberBox" [editorOptions]="{ stylingMode: 'filled', value: 0, inputAttr: { class: 'text-right', maxlength: 9 }, showSpinButtons: true, format: '$ #,##0.##'}">
                        <dxi-validation-rule type="required"> </dxi-validation-rule>
                        <dxi-validation-rule type="range" [min]="1" message="Must be greater than 0"></dxi-validation-rule>
                        <dxi-validation-rule type="range" [max]="1000000" message="Must be greater than 0"></dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="status" [colSpan]="3" editorType="dxRadioGroup" cssClass="my-radio" [editorOptions]="{ stylingMode: 'filled', class: 'custom-radio', valueExpr: 'id', displayExpr: 'name', value: 1, layout: 'horizontal', items: statusModes}"></dxi-item>
                </dxi-item>

                <dxi-item itemType="button" cssClass="last-group pb-0 pt-0 mt-rem-1">
                    <dxo-button-options type="default" [useSubmitBehavior]="true" [template]="'taskFormTemplate'" [elementAttr]="{ class: 'submit-button' }"></dxo-button-options>
                </dxi-item>

                <ng-container *dxTemplate="let item of 'taskFormTemplate'">
                    <span class="dx-button-text dx-button-with-loading">
                        <ng-container *ngIf="isLoading; else notLoading">
                            <dx-load-indicator width="24px" height="24px"></dx-load-indicator>
                            <div class="display">Loading... </div>
                        </ng-container>
                        <ng-template #notLoading>Save</ng-template>
                    </span>
                </ng-container>
            </dx-form>
        </form>
    </dx-scroll-view>
</dx-popup>