::ng-deep .dx-radiogroup-horizontal {
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;

    .dx-collection {
        display: flex;
        justify-content: center;
        width: 100%;
        .dx-item-content {
            padding-top: 2px;
        }
    }
}

::ng-deep .my-radio {
    > label {
        text-align: center;
    }
}
