<div [@fadeInOut] class="d-flex h-75">
    <div class="text-center">
        <div class="icon-container"><i class='fa fa-exclamation-circle'></i> 404</div>
        <div class="text-muted error-description">The page you are looking for does not exist</div>
        <div><a class="btn btn-primary" routerLink="['/home']"><i class='fa fa-home'></i> Back to home</a></div>
    </div>
</div>
