::ng-deep .custom-table {
    width: 100%;
    margin-top: 1rem;
    td {
        padding: 0.5rem;

        &:first-child {
            width: 120px;
        }

        &:nth-child(2) {
            font-weight: bold;
        }

        border-bottom: dashed 1px #8080808c;
    }

    tr:last-child {
        td {
            border: none;
        }
    }
}
