<h3 style="margin-left:5%;margin-top:3%;">Danh sách học sinh</h3>
<div class="container">
    <div class="">
        <div style="margin:5%">
            <!-- <button class="btn btn-danger" (click)="triggerModal(modalData)">Thêm mới</button> -->
           <button style="background-color:blue;" [routerLink]="['/sinhvien/add']" routerLinkActive="router-link-active" >Thêm mới</button>
            <table class="table">
            <tr>
                <th class="text-center"> ID</th>
                <th class="text-center"> Họ tên </th>
                <!-- <th class="text-center"> Ngày sinh</th> -->
                <th class="text-center"> Giới tinh</th>
                <th class="text-center"> Sở thích</th>
                <th class="text-center"> Học lực</th>
                <th class="text-center"> Số điện thoại</th>
                <th class="text-center"> Tác vụ</th>
            </tr>
            <tr *ngFor="let ten of Dulieu">
                <td class="text-center">{{ten.id}}</td>
                <td class="text-center">{{ten.hoTen}}</td>
                <!-- <td class="text-center">{{ten.ngaysinh | date:'MM/dd/yyyy'}}</td> -->
                <td class="text-center">{{ten.gioiTinh}}</td>
                <td class="text-center">{{ten.soThich}}</td>
                <td class="text-center">{{ten.hocLuc}}</td>
                <td class="text-center">{{ten.sdt}}</td>
                <td><button  class="btn btn-default" (click)="deleteEmp(ten.id); $event.stopPropagation()">Delete</button> |
                    <button class="btn btn-default"> Update</button>
                </td>
            </tr>
            </table>
        </div>
    </div>
</div> 