<form class="login-form" (submit)="onSubmit($event)">
  <dx-form [formData]="formData" [disabled]="isLoading">
    <dxi-item itemType="group" caption="Login">
      <dxi-item dataField="userName" editorType="dxTextBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'User Name or Email' }">
        <dxi-validation-rule type="required" message="Account is required"></dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>

      <dxi-item dataField="password" editorType="dxTextBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'Password', mode: 'password' }">
        <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>
      <dxi-item itemType="group" [colSpan]="2" [colCount]="2">
        <dxi-item dataField="rememberMe" editorType="dxCheckBox" [editorOptions]="{text: 'Remember me', elementAttr: { style: 'padding-top:0.7rem' } }">
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>

        <dxi-item>
          <div class="login-link" style="font-size:14px;text-align:right;padding-top:0.7rem">
            <a routerLink="/reset-password">Forgot password?</a>
          </div>
        </dxi-item>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'signInTemplate'" [elementAttr]="{ class: 'submit-button' }"></dxo-button-options>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'signInTemplate'">
      <span class="dx-button-text dx-button-with-loading">
        <ng-container *ngIf="isLoading; else notLoading">
          <dx-load-indicator width="24px" height="24px"></dx-load-indicator>
          <div class="display">Loading... </div>
        </ng-container>
        <ng-template #notLoading>Sign In</ng-template>
      </span>
    </ng-container>
  </dx-form>
</form>