@import "../styles.variables.scss";

:host {
  position: relative;
  router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.header {
  padding: 0 1rem !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 7%);

  .dx-toolbar-items-container {
    height: 4rem !important;

    .dx-button-text {
      text-transform: inherit;
    }
  }
}

.dx-scrollable-content > .dx-treeview-node-container {
  height: calc(100vh - #{$header_toolbar_height});
}

.dx-list-item-content {
  padding: 8px 16px !important;
  display: flex;
  align-items: center;
  font-size: inherit !important;
}

.dx-drawer-content {
  #content {
    height: calc(100vh - #{$header_toolbar_height} - #{$footer_height} - 1rem);
    margin: 0 1rem 1rem;
    .dx-scrollbar-vertical {
      right: -0.8rem;
    }
  }
}

footer {
  padding: 1rem;
  height: $footer_height;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dx-treeview {
  // ## Long text positioning
  white-space: nowrap;
  // ##

  // ## Icon width customization
  .dx-treeview-item {
    padding-left: 0;
    padding-right: 0;

    .dx-icon {
      width: 60px;
      margin: 0 !important;
    }
    &:not(.dx-state-hover) {
      color: white;
    }
  }
  // ##

  // ## Arrow customization
  .dx-treeview-node {
    padding: 0 0 !important;
    &.dx-state-selected {
      background-color: #00000021;
      color: white;
    }
  }

  .dx-treeview-toggle-item-visibility {
    right: 10px;
    left: auto;
  }
  // ##

  // ## Item levels customization
  .dx-treeview-node {
    &[aria-level="1"] {
      font-weight: bold;
      border-bottom: solid 1px #dcdcdc26;

      &:last-child {
        border: none;
      }
    }

    &[aria-level="2"] .dx-treeview-item-content {
      font-weight: normal;
      padding: 0 60px;
    }
  }
  // ##
}

// ## Selected & Focuced items customization
.dx-treeview {
  .dx-treeview-node-container {
    .dx-treeview-node {
      &.dx-state-selected:not(.dx-state-focused) > .dx-treeview-item {
        background: transparent;
      }

      &.dx-state-selected > .dx-treeview-item * {
        // color: $base-accent;
      }

      &:not(.dx-state-focused) > .dx-treeview-item.dx-state-hover {
        // background-color: lighten($base-bg, 4);
      }
    }
  }
}
