<ng-container *ngIf="isUserLoggedIn; else unauthenticated">
  <dx-toolbar class="header">
    <dxi-item location="before" widget="dxButton" [options]="toggleButtonOptions"></dxi-item>
    <dxi-item location="before" widget="dxButton" locateInMenu="never" *ngIf="isLarge">
      <div *dxTemplate>
        <h5 style="margin: 0 0 0 .5rem;padding: 0; white-space: nowrap;">SHAI <span [innerHTML]="pageTitle"></span></h5>
      </div>
    </dxi-item>
    <dxi-item location="after" widget="dxButton" *ngIf="isLarge">
      <div *dxTemplate>
        <dx-drop-down-button [width]="130" [stylingMode]="'text'" [items]="theme.themes" displayExpr="name" keyExpr="id" icon="image" (onItemClick)="changeTheme($event)" text="Theme"></dx-drop-down-button>
      </div>
    </dxi-item>
    <dxi-item location="after" widget="dxButton">
      <div *dxTemplate>
        <dx-drop-down-button [width]="200" [stylingMode]="'text'" [items]="userMenuOptions" displayExpr="name" keyExpr="id" (onItemClick)="onUserMenuTask($event)" icon="/assets/images/users/100_1.jpg" text="{{authService?.currentUser?.fullName}}"></dx-drop-down-button>
      </div>
    </dxi-item>
  </dx-toolbar>
  <dx-drawer [shading]="toggleShaderEnabled" [closeOnOutsideClick]="isXSmall" [minSize]="toggleMinMenuSize" [openedStateMode]="toggleOpenMode" [revealMode]="toggleRevealMode" template="template" [(opened)]="isDrawerOpen">
    <div *dxTemplate="let data of 'template'" style="width: 250px">
      <dx-tree-view #menu class="panel-list dx-theme-accent-as-background-color" [items]="menuItems" keyExpr="path" selectionMode="single" [focusStateEnabled]="false" expandEvent="click" width="100%" (onItemClick)="onMenuClick($event)"> </dx-tree-view>
    </div>
    <dx-scroll-view id="content" #scrollView>
      <router-outlet #o="outlet"></router-outlet>
    </dx-scroll-view>
    <footer class="dx-theme-background-color text-muted text-right d-block">
      Copyright © 2007- 2021 Wiz Technologies (S) Pte Ltd.
    </footer>
  </dx-drawer>
</ng-container>

<ng-template #unauthenticated>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>

<dx-toast [(visible)]="notify.visible" [width]="400" [type]="notify.type" [message]="notify.message?.summary">
  <dxo-position my="top center" at="top" of=".dx-viewport" offset="0 7"></dxo-position>
</dx-toast>

<div class="cus-dialog" appComponentLoader #componentOutlet></div>