<div [@fadeInOut]>
    <dx-data-grid #dataSourceGrid class="content-block" (onSelectionChanged)="onSelectionChanged($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [showColumnLines]="true" [cacheEnabled]="false" [dataSource]="dataSource" [remoteOperations]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [columnAutoWidth]="true" [columnHidingEnabled]="false">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-selection *ngIf="isGrant('users.manage')" mode="single"></dxo-selection>
        <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

        <dxi-column dataField="name" caption="Group Name" width="300" cellTemplate="groupNameTemplate" [fixed]="true"></dxi-column>
        <dxi-column dataField="users" caption="Member Count" width="170" cellTemplate="memberCountTemplate" [fixed]="true" alignment="center" [allowFiltering]="false"></dxi-column>
        <dxi-column dataField="description"></dxi-column>
        <dxi-column dataField="id" *ngIf="isGrant('members.manage')" [width]="120" type="buttons" caption="" [allowSorting]="false" cellTemplate="taskCellTemplate"> </dxi-column>

        <div *dxTemplate="let cell of 'detail'">
            <dx-data-grid [dataSource]="cell.data.users" [showColumnLines]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [showBorders]="true">
                <dxi-column dataField="fullName" width="312" caption="Full Name" [fixed]="true"></dxi-column>
                <dxi-column dataField="chineseName" [width]="180" alignment="center"></dxi-column>
                <dxi-column dataField="email"></dxi-column>
                <dxi-column dataField="phoneNumber" [width]="190" alignment="center"></dxi-column>
                <dxi-column dataField="birthDate" [width]="150" alignment="center" dataType="date" format="MM/dd/yyyy" [allowFiltering]="false"></dxi-column>
                <dxi-column dataField="joinDate" [width]="150" alignment="center" dataType="date" format="MM/dd/yyyy" [allowFiltering]="false"></dxi-column>
            </dx-data-grid>
        </div>

        <div *dxTemplate="let cell of 'groupNameTemplate'">
            <div><b style="color: #bf4e6a;">{{cell.value}}</b></div>
        </div>

        <div *dxTemplate="let cell of 'memberCountTemplate'">
            <div><b>{{cell.value.length}}</b></div>
        </div>

        <div *dxTemplate="let d of 'taskCellTemplate'" class="dx-command-edit dx-command-edit-with-icons" style="display: flex; justify-content: space-around;min-width: 0;width: auto;">
            <a class="dx-link dx-link-edit dx-icon-user dx-link-icon" title="Member" aria-label="Member" (click)="onMemberEdit(d)"></a>
            <a class="dx-link dx-link-edit dx-icon-edit dx-link-icon" title="Edit" aria-label="Edit" (click)="onRowEdit(d)"></a>
            <a class="dx-link dx-link-delete dx-icon-trash dx-link-icon" title="Delete" aria-label="Delete" (click)="onRowDelete(d)"></a>
        </div>

        <dx-button *dxTemplate="let data of 'deleteButton'" [class.hidden]="!selectedRows.length" stylingMode="contained" type="default" text="Delete Selected Records"> </dx-button>

    </dx-data-grid>
</div>

<dx-popup (onHidden)="onHidePopup()" [maxWidth]="640" [height]="'auto'" title="Membership Group Info" [showTitle]="true" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
    <form novalidate (submit)="onSave($event)">
        <dx-form #taskForm [formData]="obj" [disabled]="isLoading" [showColonAfterLabel]="false" labelLocation="top">

            <dxi-item dataField="name" [editorOptions]="{stylingMode: 'filled', id: taskForm.formData.id, table: 'groups'}">
                <dxi-validation-rule type="required"> </dxi-validation-rule>
                <dxi-validation-rule type="async" message="Already exist!" [validationCallback]="ayncValidate"> </dxi-validation-rule>
            </dxi-item>

            <dxi-item dataField="description" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', height: 90}"></dxi-item>

            <dxi-item itemType="button" cssClass="last-group pb-0 pt-0 mt-rem-1">
                <dxo-button-options type="default" [useSubmitBehavior]="true" [template]="'taskFormTemplate'" [elementAttr]="{ class: 'submit-button' }"></dxo-button-options>
            </dxi-item>
            <ng-container *dxTemplate="let item of 'taskFormTemplate'">
                <span class="dx-button-text dx-button-with-loading">
                    <ng-container *ngIf="isLoading; else notLoading">
                        <dx-load-indicator width="24px" height="24px"></dx-load-indicator>
                        <div class="display">Loading... </div>
                    </ng-container>
                    <ng-template #notLoading>Save</ng-template>
                </span>
            </ng-container>

        </dx-form>
    </form>
</dx-popup>

<dx-popup (onHidden)="onHidePopup()" [maxWidth]="768" [height]="'auto'" title="Group Members" [showTitle]="true" [closeOnOutsideClick]="false" [(visible)]="popupMemberVisible">
    <dx-data-grid class="mt-rem-1" #memberGrid [dataSource]="members" [rowAlternationEnabled]="true" [showColumnLines]="true" [columnAutoWidth]="true" [showBorders]="true">
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column dataField="fullName" caption="Member Name" cellTemplate="memberNameTemplate"></dxi-column>
        <dxi-column dataField="email"></dxi-column>
        <dxi-column dataField="phoneNumber"></dxi-column>
        <dxi-column dataField="_id" width="60" type="buttons" caption="" [allowSorting]="false" cellTemplate="taskUserCellTemplate"> </dxi-column>

        <div *dxTemplate="let cell of 'memberNameTemplate'">
            <div><b [ngClass]="{'text-highlight': membersSelectedRows.indexOf(cell.key) >= 0}">{{cell.value}}</b></div>
        </div>

        <div *dxTemplate="let d of 'taskUserCellTemplate'" class="dx-command-edit dx-command-edit-with-icons" style="display: flex; justify-content: space-around;min-width: 0;width: auto;">
            <a class="dx-link dx-link-edit dx-icon-add dx-link-icon" *ngIf="membersSelectedRows.indexOf(d.key) < 0" (click)="onAddUserToGroup(d)" title="Add" aria-label="Add"></a>
            <a class="dx-link dx-link-edit dx-icon-trash dx-link-icon text-warning" *ngIf="membersSelectedRows.indexOf(d.key) >= 0" (click)="onRemoveUserToGroup(d)" title="Remove" aria-label="Remove"></a>
        </div>
    </dx-data-grid>
</dx-popup>