<div class="content-block mt-rem-1" [@fadeInOut]>
  <div class="dx-card responsive-paddings p-rem-2">
    <div class="logos-container">
      <img class="wp-image-43 aligncenter" src="http://www.shenghongarts.org.sg/wp-content/uploads/2018/02/logo.jpg" alt="" width="319" height="69"
        srcset="http://www.shenghongarts.org.sg/wp-content/uploads/2018/02/logo.jpg 975w, http://www.shenghongarts.org.sg/wp-content/uploads/2018/02/logo-400x87.jpg 400w, http://www.shenghongarts.org.sg/wp-content/uploads/2018/02/logo-768x166.jpg 768w, http://www.shenghongarts.org.sg/wp-content/uploads/2018/02/logo-700x151.jpg 700w, http://www.shenghongarts.org.sg/wp-content/uploads/2018/02/logo-120x26.jpg 120w" sizes="(max-width: 319px) 100vw, 319px">
    </div>

    <div class="vc_row wpb_row vc_inner vc_row-fluid max_width_800">
      <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p>Sheng Hong Arts Institute (SHAI) was established in 2008 to preserve and promote Chinese culture, heritage and traditional arts, and to develop the arts of Chinese music, dance and theatre performances in Singapore.&nbsp;&nbsp;The foci of SHAI are on Chinese dance, Nanyin (南音), and Chinese orchestra.</p>
                <p>Led by our President Mr Tan Thiam Lye BBM(L), the affairs of SHAI are managed by a Management Committee whose members serve on a voluntary basis without receiving any form of remuneration and who share the same objects of SHAI to contribute to the local arts and cultural scene.</p>
                <p>SHAI is a registered charity administered by the Ministry of Culture, Community &amp; Youth.&nbsp; Its operations are mainly funded by contributions from philanthropic organizations such as Lorong Koo Chye Sheng Hong Temple Association and San Qing Gong Taoist Cultural Centre.&nbsp; SHAI also receives grants from National Arts Council, and donations from individuals through Giving.Sg for its community projects.&nbsp; These contributions enable SHAI to continue its work to
                  promote its objects and to offer courses to individuals of all races, religions and age at highly subsidized rates.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p>Although the world is evolving to function in the new operating environment, SHAI believes that it must adopt a hybrid model; 1) offer digital solutions in non-coaching functions to increase the efficiency of our limited manpower resources; and 2) provide on-site guidance for all classes, where possible, in order to deliver quality in coaching and to maximize the learning experience of our students, especially our young learners.&nbsp; SHAI holds dearly the value of building
                  the foundation of our young learners correctly so that they can progress and do well in the future.</p>
                <p>Over the years, SHAI has been supporting youths with passion, potential and interest to pursue a career in the Chinese arts scene. Besides developing talented youths, SHAI also actively engages the services of professionals to deliver our programmes and invests necessarily in facilities, equipment and instruments to support our students in their learning.</p>
                <p>SHAI feels the passion of our students in Chinese arts and heritage and strives to become a leading centre of Chinese arts and heritage for everyone.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>