::ng-deep #dropzone-external {
    width: 100%;
    height: 100%; 
    border: 1px solid #d2d3d5;
    border-radius: 50%;
    padding: 2px;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        display: block;
    }
}

::ng-deep #dropzone-external > * {
    pointer-events: none;
}

::ng-deep #dropzone-external.dropzone-active {
    border-style: solid;
}

::ng-deep .widget-container > span {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}

::ng-deep #dropzone-image {
    max-width: 100%;
    max-height: 100%;
}

::ng-deep #dropzone-text > span {
    font-weight: 100;
    opacity: 0.5;
}

::ng-deep #upload-progress {
    display: flex;
    margin-top: 10px;
}

::ng-deep .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::ng-deep .first-group {
    .dx-item.dx-box-item {
        align-items: center;
    }
}
