<div [@fadeInOut]>
    <dx-data-grid #dataSourceGrid class="content-block" (onSelectionChanged)="onSelectionChanged($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [showColumnLines]="true" [cacheEnabled]="false" [dataSource]="dataSource" [remoteOperations]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [columnAutoWidth]="true" [columnHidingEnabled]="true">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
        <!-- <dxo-selection *ngIf="isGrant('users.manage')" mode="multiple" showCheckBoxesMode="always"></dxo-selection> -->


        <dxi-column dataField="fullName" sortOrder="asc" caption="Full Name" cellTemplate="fullNameTemplate" [fixed]="true" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="chineseName" [width]="180" alignment="center" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column caption="Membership" alignment="center">
            <dxi-column dataField="memberShip" cellTemplate="memberShipTemplate" [width]="130" caption="Type" alignment="center">
                <dxo-header-filter [dataSource]="memberFeesFilter"></dxo-header-filter>
            </dxi-column>
            <dxi-column dataField="memberShipStartDate" cellTemplate="memberShipDateTemplate" [width]="150" caption="Start Date" alignment="center" dataType="date" [allowHeaderFiltering]="false"></dxi-column>
            <dxi-column dataField="expirationDate" cellTemplate="memberShipDateTemplate" [width]="150" caption="End Date" alignment="center" dataType="date" [allowHeaderFiltering]="false"></dxi-column>
        </dxi-column>
        <dxi-column dataField="groups" cellTemplate="groupsTemplate" [allowSorting]="false" [allowFiltering]="false" [allowHeaderFiltering]="true">
            <dxo-header-filter [dataSource]="rolesFilter"></dxo-header-filter>
        </dxi-column>
        <dxi-column dataField="email" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="phoneNumber" [width]="150" alignment="center" [allowSorting]="false" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="birthDate" [width]="150" alignment="center" dataType="date" format="MM/dd/yyyy" [allowFiltering]="false" [visible]="false"></dxi-column>
        <dxi-column dataField="joinDate" [width]="150" alignment="center" dataType="date" format="MM/dd/yyyy" [allowFiltering]="false" [visible]="false"></dxi-column>
        <dxi-column dataField="isEnabled" [width]="130" alignment="center" [allowSorting]="false"></dxi-column>

        <dxi-column dataField="id" *ngIf="isGrant('members.manage')" [width]="80" type="buttons" caption="" [allowSorting]="false" cellTemplate="taskCellTemplate"> </dxi-column>

        <div *dxTemplate="let cell of 'groupsTemplate'">
            <div *ngFor="let p of cell.value" class="d-inline-block dx-badge">{{p}}</div>
        </div>
        <div *dxTemplate="let cell of 'memberShipTemplate'">
            <div [ngSwitch]="cell.value">
                <i *ngSwitchCase="0" class="text-muted">not yet</i>
                <b *ngSwitchDefault style="color: #bf4e6a;">{{cell.value * 3}} year</b>
            </div>
        </div>
        <div *dxTemplate="let cell of 'memberShipDateTemplate'">
            <div [ngSwitch]="cell.data.memberShip">
                <i *ngSwitchCase="0" class="text-muted"></i>
                <span *ngSwitchDefault>{{cell.value | date : 'MM/dd/yyyy'}}</span>
            </div>
        </div>
        <div *dxTemplate="let cell of 'fullNameTemplate'">
            <div><b style="color: #bf4e6a;">{{cell.value}}</b></div>
        </div>
        <div *dxTemplate="let cell of 'rolesTemplate'">
            <div *ngFor="let p of cell.value" class="d-inline-block dx-badge">{{p}}</div>
        </div>

        <div *dxTemplate="let cell of 'detail'">
            <dx-data-grid [dataSource]="cell.data.orders" [showColumnLines]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [showBorders]="true">
                <dxi-column dataField="id" caption="Order Id" [width]="150" alignment="center" [fixed]="true" [allowHeaderFiltering]="false"></dxi-column>
                <dxi-column caption="Class Room" alignment="center">
                    <dxi-column dataField="classRoom" caption="Name" cellTemplate="classRoomTemplate" [allowFiltering]="false" [allowSorting]="false"></dxi-column>
                    <dxi-column caption="Fee" width="120" dataType="number" alignment="center" cellTemplate="feeTemplate"></dxi-column>
                    <dxi-column dataField="status" caption="Status" width="120" alignment="center" cellTemplate="statusTemplate" [allowSorting]="false" [allowFiltering]="false" [allowHeaderFiltering]="true">
                        
                    </dxi-column>
                </dxi-column>
                <dxi-column caption="Course Name" cellTemplate="courseTemplate" [allowFiltering]="false" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="createdDate" dataType="date" width="150" alignment="center" [allowHeaderFiltering]="false"></dxi-column>

                <div *dxTemplate="let cell of 'classRoomTemplate'">
                    <div><b class="text-highlight">{{cell.value?.name}}</b></div>
                    <div><span class="text-muted f-12">Schedule Date: {{cell.value?.scheduleDate | date : 'MM/dd/yyyy'}}</span></div>
                </div>
                
                <div *dxTemplate="let cell of 'feeTemplate'">
                    <div class="text-right"><b>{{cell.data?.classRoom?.fee | currency : '' }}</b></div>
                </div>
        
                <div *dxTemplate="let cell of 'courseTemplate'">
                    <div><b>{{cell.data?.classRoom?.course?.name }}</b></div>
                    <div><span class="text-muted f-12">Id: {{cell.data?.classRoom?.course?.id}}</span></div>
                </div>
        
                <div *dxTemplate="let cell of 'statusTemplate'">
                    <div [ngSwitch]="cell.data.classRoom.status">
                        <b *ngSwitchCase="1" style="color: cornflowerblue;">Opening</b>
                        <b *ngSwitchCase="2" style="color: green;">In Progress</b>
                        <b *ngSwitchCase="3" style="color: orange;">Pending</b>
                        <b *ngSwitchCase="4" style="color: gray;">Ended</b>
                        <b *ngSwitchDefault style="color: red;">Draft</b>
                    </div>
                </div>
            </dx-data-grid>
        </div>

        <div *dxTemplate="let d of 'taskCellTemplate'" class="dx-command-edit dx-command-edit-with-icons" style="display: flex; justify-content: space-around;min-width: 0;width: auto;">
            <a class="dx-link dx-link-edit dx-icon-edit dx-link-icon" title="Edit" aria-label="Edit" (click)="onRowEdit(d)"></a>
            <a class="dx-link dx-link-delete dx-icon-trash dx-link-icon" title="Delete" aria-label="Delete" (click)="onRowDelete(d)"></a>
        </div>

        <dx-button *dxTemplate="let data of 'deleteButton'" [class.hidden]="!selectedRows.length" stylingMode="contained" type="default" text="Delete Selected Records"> </dx-button>

    </dx-data-grid>
</div>

<dx-popup (onHiding)="onHidePopup()" [maxWidth]="700" [height]="'auto'" title="Member Info" [showTitle]="true" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
    <dx-scroll-view style="max-height: calc(100vh - 120px);">
        <form novalidate (submit)="onSave($event)">
            <dx-form #taskForm [formData]="obj" [disabled]="isLoading" [showColonAfterLabel]="false" labelLocation="top">
                <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
                    <dxi-item name="avatars" [template]="'fileTemplate'" cssClass="m-b-0"></dxi-item>
                    <dxi-item itemType="group" [colSpan]="3">
                        <dxi-item itemType="group" [colCount]="2" [colSpan]="2" cssClass="m-b-0">
                            <dxi-item dataField="fullName" [editorOptions]="{stylingMode: 'filled', onFocusOut: valueChanged, placeholder: 'eg. John Doe' }">
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>
                            <!-- <dxi-item [colSpan]="1" dataField="userName" [editorOptions]="{stylingMode: 'filled', id: taskForm.formData.id, table: 'users', placeholder: 'eg. user'}">
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                                <dxi-validation-rule type="async" message="Already exist!" [validationCallback]="ayncValidate"> </dxi-validation-rule>
                            </dxi-item> -->
                            <dxi-item [colSpan]="1" dataField="chineseName" [editorOptions]="{ stylingMode: 'filled', placeholder: 'eg. 行政人员'}"></dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" cssClass="m-b-0">
                            <dxi-item dataField="gender" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: genders }">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="isEnabled" editorType="dxSelectBox" [editorOptions]="{stylingMode: 'filled', valueExpr: 'value', displayExpr: 'display', items: accountStatus }"></dxi-item>
                            <dxi-item dataField="memberShip" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', valueExpr: 'value', displayExpr: 'name', items: memberFees }">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                    </dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="5" [colSpan]="2">
                    <dxi-item itemType="group" [colSpan]="2">
                        <dxi-item dataField="email" [editorOptions]="{stylingMode: 'filled', mode:'email', id: taskForm.formData.id, table: 'users', placeholder: 'eg. john.doe@company.com'}">
                            <dxi-validation-rule type="required"> </dxi-validation-rule>
                            <dxi-validation-rule type="email"> </dxi-validation-rule>
                            <dxi-validation-rule type="async" message="Already exist!" [validationCallback]="ayncValidate"> </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="phoneNumber" [editorOptions]="{stylingMode: 'filled', mode: 'tel', id: taskForm.formData.id, table: 'users', placeholder: 'eg. 0123456789'}">
                            <dxi-validation-rule type="required"> </dxi-validation-rule>
                            <dxi-validation-rule type="async" message="Already exist!" [validationCallback]="ayncValidate"> </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>

                    <dxi-item itemType="group" [colSpan]="3">
                        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                            <dxi-item dataField="birthDate" editorType="dxDateBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'm/d/yyyy'}">
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="joinDate" editorType="dxDateBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'm/d/yyyy'}">
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item dataField="address" [editorOptions]="{stylingMode: 'filled', placeholder: 'eg. Bukit Batok Crescent #10-02 The Elitist Singapore'}"></dxi-item>

                    </dxi-item>

                </dxi-item>

                <div *dxTemplate="let data of 'fileTemplate'" style="position: relative;margin-top: 1rem;">
                    <div id="dropzone-external" class="flex-box" [ngClass]="isDropZoneActive ? ['dx-theme-accent-as-border-color', 'dropzone-active'] : ['dx-theme-border-color']">
                        <img id="dropzone-image" [src]="resourcesUrl + imageSource" default="/assets/images/users/default.jpg" alt="" />
                        <div id="dropzone-text" class="flex-box" *ngIf="textVisible"></div>
                        <dx-progress-bar #uploadProgress [min]="0" [max]="100" width="30%" [showStatus]="false" [visible]="progressVisible" [value]="progressValue"></dx-progress-bar>
                    </div>
                    <dx-file-uploader [name]="data.name" uploadMode="instantly" [visible]="false" #fileUploader dialogTrigger="#opendialog" dropZone="#dropzone-external" [multiple]="false" [allowedFileExtensions]="['.jpg', '.jpeg', '.gif', '.png']" uploadUrl="{{configurations.baseUrl}}/api/uploads" (onUploaded)="onUploaded($event)" (onProgress)="onProgress($event)" (onUploadStarted)="onUploadStarted($event)">
                    </dx-file-uploader>
                    <dx-button icon="edit" id="opendialog" class="small-button" style="position: absolute;top: 0;right: 0;"></dx-button>
                </div>

                <dxi-item itemType="button" cssClass="last-group pb-0 pt-0 mt-rem-1">
                    <dxo-button-options type="default" [useSubmitBehavior]="true" [template]="'taskFormTemplate'" [elementAttr]="{ class: 'submit-button' }"></dxo-button-options>
                </dxi-item>
                <ng-container *dxTemplate="let item of 'taskFormTemplate'">
                    <span class="dx-button-text dx-button-with-loading">
                        <ng-container *ngIf="isLoading; else notLoading">
                            <dx-load-indicator width="24px" height="24px"></dx-load-indicator>
                            <div class="display">Loading... </div>
                        </ng-container>
                        <ng-template #notLoading>Save</ng-template>
                    </span>
                </ng-container>
            </dx-form>
        </form>
    </dx-scroll-view>
</dx-popup>