<div [@fadeInOut]>
    <dx-data-grid #dataSourceGrid class="content-block" (onSelectionChanged)="onSelectionChanged($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [showColumnLines]="true" [cacheEnabled]="false" [dataSource]="dataSource" [remoteOperations]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [columnAutoWidth]="true" [columnHidingEnabled]="false">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxi-column dataField="id" caption="Course Id" [width]="150" alignment="center" [fixed]="true" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="name" sortOrder="asc" caption="Course Name" cellTemplate="courseNameTemplate" [fixed]="true" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="chineseName" cellTemplate="courseNameTemplate" [fixed]="true" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="genre" caption="Course Type" [width]="200" alignment="center" cellTemplate="genreTemplate" [fixed]="true" [allowFiltering]="false" [allowHeaderFiltering]="true">
            <dxo-header-filter [dataSource]="genresFilter"></dxo-header-filter>
        </dxi-column>
        <dxi-column dataField="language" [width]="150" alignment="center" [allowFiltering]="false" [allowHeaderFiltering]="true">
            <dxo-header-filter [dataSource]="languagesFilter"></dxo-header-filter>
        </dxi-column>
        <dxi-column dataField="numberOfLesson" [width]="150" caption="No. Lesson" alignment="center" dataType="number" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="quotaPerLesson" [width]="150" alignment="center" dataType="number" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column *ngIf="isGrant('courses.manage')" [width]="80" type="buttons" caption="" [allowSorting]="false" cellTemplate="taskCellTemplate"> </dxi-column>

        <div *dxTemplate="let cell of 'courseNameTemplate'">
            <div><b style="color: #bf4e6a;">{{cell.value}}</b></div>
        </div>

        <div *dxTemplate="let cell of 'genreTemplate'">
            <div *ngIf="cell.value"><b>{{cell.value.name}}</b></div>
        </div>

        <div *dxTemplate="let d of 'taskCellTemplate'" class="dx-command-edit dx-command-edit-with-icons" style="display: flex; justify-content: space-around;min-width: 0;width: auto;">
            <a class="dx-link dx-link-edit dx-icon-edit dx-link-icon" title="Edit" aria-label="Edit" (click)="onRowEdit(d)"></a>
            <a class="dx-link dx-link-delete dx-icon-trash dx-link-icon" title="Delete" aria-label="Delete" (click)="onRowDelete(d)"></a>
        </div>

        <dx-button *dxTemplate="let data of 'deleteButton'" [class.hidden]="!selectedRows.length" stylingMode="contained" type="default" text="Delete Selected Records"> </dx-button>

    </dx-data-grid>
</div>

<dx-popup (onHiding)="onHidePopup()" [maxWidth]="1024" [height]="'auto'" title="Course Info" [showTitle]="true" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
    <dx-scroll-view style="max-height: calc(100vh - 120px);">
        <form novalidate (submit)="onSave($event)">
            <dx-form #taskForm [formData]="obj" [disabled]="isLoading" [showColonAfterLabel]="false" labelLocation="top">
                <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
                    <!-- <dxi-item name="avatars" [template]="'fileTemplate'" cssClass="m-b-0 mr-rem-1"></dxi-item> -->
                    <dxi-item itemType="group" [colCount]="3" cssClass="m-b-0">
                        <dxi-item [colSpan]="3" dataField="name" [editorOptions]="{stylingMode: 'filled' }">
                            <dxo-label text="Course Name"></dxo-label>
                            <dxi-validation-rule type="required"> </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="numberOfLesson" editorType="dxNumberBox" [editorOptions]="{ stylingMode: 'filled', showSpinButtons: true}">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                            <dxi-validation-rule type="range" [min]="1" message="At least 1 lesson"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="quotaPerLesson" editorType="dxNumberBox" [editorOptions]="{ stylingMode: 'filled', showSpinButtons: true}">
                            <dxi-validation-rule type="range" [min]="1" message="Must be greater than 0"></dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="language" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: ['English', 'Chinese'] }">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>

                        <dxi-item [colSpan]="3" dataField="requirements" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', placeholder: 'eg. 行政人员'}"></dxi-item>
                        
                    </dxi-item>

                    <dxi-item itemType="group" [colCount]="2" cssClass="m-b-0">
                        <dxi-item [colSpan]="2" dataField="chineseName" [editorOptions]="{ stylingMode: 'filled', placeholder: 'eg. 行政人员'}"></dxi-item>
                        <dxi-item [colSpan]="2" dataField="genreId" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', valueExpr: 'id', displayExpr: 'name', items: genres}">
                            <dxo-label text="Course Type"></dxo-label>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item [colSpan]="2" dataField="description" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', placeholder: 'eg. 行政人员'}"></dxi-item>
                        <!-- <dxi-item dataField="gender" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: genders }">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item> -->
                        <!-- <dxi-item dataField="isEnabled" editorType="dxSelectBox" [editorOptions]="{stylingMode: 'filled', valueExpr: 'value', displayExpr: 'display', items: accountStatus }"></dxi-item> -->
                    </dxi-item>
                </dxi-item>

                <!-- <dxi-item itemType="group" [colCount]="5" [colSpan]="2">
                    <dxi-item itemType="group" [colSpan]="2">
                        <dxi-item dataField="email" [editorOptions]="{stylingMode: 'filled', mode:'email', id: taskForm.formData.id, table: 'users', placeholder: 'eg. john.doe@company.com'}">
                            <dxi-validation-rule type="required"> </dxi-validation-rule>
                            <dxi-validation-rule type="email"> </dxi-validation-rule>
                            <dxi-validation-rule type="async" message="Already exist!" [validationCallback]="ayncValidate"> </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="phoneNumber" [editorOptions]="{stylingMode: 'filled', mode: 'tel', id: taskForm.formData.id, table: 'users', placeholder: 'eg. 0123456789'}">
                            <dxi-validation-rule type="required"> </dxi-validation-rule>
                            <dxi-validation-rule type="async" message="Already exist!" [validationCallback]="ayncValidate"> </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>

                    <dxi-item itemType="group" [colSpan]="3">
                        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                            <dxi-item dataField="startTime" editorType="dxDateBox" [editorOptions]="{ stylingMode: 'filled', type: 'time', placeholder: 'm/d/yyyy'}">
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="endTime" editorType="dxDateBox" [editorOptions]="{ stylingMode: 'filled', type: 'time', placeholder: 'm/d/yyyy'}">
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item dataField="address" [editorOptions]="{stylingMode: 'filled', placeholder: 'eg. Bukit Batok Crescent #10-02 The Elitist Singapore'}"></dxi-item>

                    </dxi-item>

                </dxi-item> -->

                <div *dxTemplate="let data of 'fileTemplate'" style="position: relative;margin-top: 1rem;">
                    <div id="dropzone-external" class="flex-box bg-input" style="border-radius: 1rem;" [ngClass]="isDropZoneActive ? ['dx-theme-accent-as-border-color', 'dropzone-active'] : ['dx-theme-border-color']">
                        <img id="dropzone-image" [src]="resourcesUrl + imageSource" default="/assets/images/no-image.png" width="100%" alt="" />
                        <div id="dropzone-text" class="flex-box" *ngIf="textVisible"></div>
                        <dx-progress-bar #uploadProgress [min]="0" [max]="100" width="30%" [showStatus]="false" [visible]="progressVisible" [value]="progressValue"></dx-progress-bar>
                    </div>
                    <dx-file-uploader [name]="data.name" uploadMode="instantly" [visible]="false" #fileUploader dialogTrigger="#opendialog" dropZone="#dropzone-external" [multiple]="false" [allowedFileExtensions]="['.jpg', '.jpeg', '.gif', '.png']" uploadUrl="{{configurations.baseUrl}}/api/uploads" (onUploaded)="onUploaded($event)" (onProgress)="onProgress($event)" (onUploadStarted)="onUploadStarted($event)">
                    </dx-file-uploader>
                    <dx-button icon="edit" id="opendialog" class="small-button" style="position: absolute;top: 0;right: 0;"></dx-button>
                </div>

                <dxi-item itemType="button" cssClass="last-group pb-0 pt-0 mt-rem-1">
                    <dxo-button-options type="default" [useSubmitBehavior]="true" [template]="'taskFormTemplate'" [elementAttr]="{ class: 'submit-button' }"></dxo-button-options>
                </dxi-item>

                <ng-container *dxTemplate="let item of 'taskFormTemplate'">
                    <span class="dx-button-text dx-button-with-loading">
                        <ng-container *ngIf="isLoading; else notLoading">
                            <dx-load-indicator width="24px" height="24px"></dx-load-indicator>
                            <div class="display">Loading... </div>
                        </ng-container>
                        <ng-template #notLoading>Save</ng-template>
                    </span>
                </ng-container>
            </dx-form>
        </form>
    </dx-scroll-view>
</dx-popup>